services:
  jellyfin:
    image: jellyfin/jellyfin:latest
    container_name: jellyfin
    user: "${PUID}:${PGID}"
    environment:
      - TZ=${TZ}
    volumes:
      - ./config/jellyfin:/config
      - storage:/data
    ports:
      - "8096:8096"
    restart: unless-stopped
    networks:
        - media-net

  deluge:
    image: lscr.io/linuxserver/deluge:latest
    container_name: deluge
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
      - DELUGE_LOGLEVEL=error
    volumes:
      - ./config/deluge:/config
      - storage:/data
    ports:
      - "8112:8112"         # Web UI
      - "6881:6881"         # Incoming TCP
      - "6881:6881/udp"     # Incoming UDP
      - "58846:58846"
    restart: unless-stopped
    networks:
        - media-net

  sonarr:
    image: lscr.io/linuxserver/sonarr:latest
    container_name: sonarr
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
    volumes:
      - ./config/sonarr:/config
      - storage:/data
    ports:
      - "8989:8989"
    restart: unless-stopped
    networks:
        - media-net

  radarr:
    image: lscr.io/linuxserver/radarr:latest
    container_name: radarr
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
    volumes:
      - ./config/radarr:/config
      - storage:/data
    ports:
      - "7878:7878"
    restart: unless-stopped
    networks:
        - media-net

  prowlarr:
    image: lscr.io/linuxserver/prowlarr:latest
    container_name: prowlarr
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
    volumes:
      - ./config/prowlarr:/config
    ports:
      - "9696:9696"
    restart: unless-stopped
    networks:
        - media-net

  pinchflat:
    image: ghcr.io/kieraneglin/pinchflat:latest
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
    ports:
      - "8945:8945"
    volumes:
      - ./config/pinchflat:/config
      - storage:/downloads

networks:
  media-net:
    driver: bridge

volumes:
  storage:
